@font-face {
    src: url('../../assets/fonts/Jura-SemiBold.ttf') format('truetype');
    font-family: 'Jura';
    font-weight: 600;
}

@font-face {
 src: url('../../assets/fonts/Jura-Medium.ttf') format('truetype');
 font-family: 'Jura';
 font-weight: 500;
}