
:root { 
    /* colors */
    --main-white: #DCD8D3;
    --main-black: #12141B;
    --main-orange: #CF7B5A;
    --main-gray: #8E8E8E;
    --bg-gray: #1A1C23;
   
    --addable-red: #FF2C47;
   
    --border-orange: rgba(207, 123, 90, 0.2);
    --border-red: rgba(255, 44, 71, 0.2);
   }
   